@{
    ViewData["Title"] = "Home Page";
}
@model Rootobject

    <div class="text-center">
        <h1 class="display-4">Welcome to Master of Events!</h1>
        @*<p>You can find more information on events below</p>*@
        @*<p><a href="../Home/DisplayEvents">Display All Events</a></p>*@
        <br />
        <br />
        <p> <img src="https://data.whicdn.com/images/260906710/original.gif" alt="Concert Pic 1" align="middle" width="600" /></p>
    </div>


